Repository Rurusetto/rurusetto, pull requests merged in 2021-09, with the labels that each got.

#44 Adjust and add animation on some page
  rurusetto/users/templates/users/profile.html
  rurusetto/wiki/templates/wiki/create_ruleset.html
  rurusetto/wiki/templates/wiki/listing.html
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_card.html
Labels: size/S, type:ui-ux

#43 Update the docstring in the user app
  rurusetto/users/forms.py
  rurusetto/users/models.py
  rurusetto/users/signals.py
  rurusetto/users/views.py
Labels: size/M, type:code-quality, area:user

#45 Add unit test for wiki test and prepare continuous integration
  README.md
  requirements.txt
  rurusetto/wiki/tests.py
Labels: size/L, area:database, area:wiki, type:testing

#48 Recommended beatmaps Grammar fixes
  rurusetto/wiki/templates/wiki/add_recommend_beatmap.html
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/views.py
Labels: size/M, area:recommend-beatmap

#49 Add more specific error text to recommend beatmap error text
  rurusetto/wiki/views.py
Labels: size/S, area:recommend-beatmap, type:ui-ux

#50 Add profile tag database
  requirements.txt
  rurusetto/rurusetto/settings.py
  rurusetto/users/admin.py
  rurusetto/users/migrations/0023_tag.py
  rurusetto/users/migrations/0024_profile_tag.py
  rurusetto/users/migrations/0025_alter_tag_description.py
  rurusetto/users/migrations/0026_alter_tag_description.py
  rurusetto/users/models.py
  rurusetto/users/templates/users/profile.html
  rurusetto/users/views.py
  rurusetto/wiki/templates/wiki/base.html
Labels: size/L, area:profile

#51 Add mobile view support for profile view and edit some ratio of profile page and global cover image settings.
  rurusetto/users/static/css/index.css
  rurusetto/users/templates/users/profile.html
  rurusetto/wiki/templates/wiki/base.html
Labels: size/S, area:profile, type:ui-ux

#52 Fix slutter bug on hover on recommend beatmap button
  rurusetto/wiki/templates/wiki/wiki_page.html
Labels: size/XS, area:wiki

#53 Revamp the admin page
  requirements.txt
  rurusetto/rurusetto/settings.py
  rurusetto/rurusetto/urls.py
Labels: size/S, type:ui-ux, area:adminintration

#54 Add beatmap approval system
  rurusetto/users/static/css/index.css
  rurusetto/wiki/function.py
  rurusetto/wiki/migrations/0036_recommendbeatmap_owner_approved.py
  rurusetto/wiki/migrations/0037_recommendbeatmap_owner_seen.py
  rurusetto/wiki/models.py
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/recommend_beatmap_approval.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
  rurusetto/wiki/templatetags/convert_star_rating.py
  rurusetto/wiki/urls.py
  rurusetto/wiki/views.py
Labels: size/L, area:recommend-beatmap

#55 Add osu!direct download button to beatmap card and adjust line height in beatmap card
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_card.html
Labels: size/XS, area:recommend-beatmap, type:ui-ux

#56 Fix some CSS related problem
  rurusetto/users/static/css/index.css
  rurusetto/users/templates/account/login.html
  rurusetto/users/templates/socialaccount/snippets/provider_list.html
  rurusetto/users/templates/users/profile.html
  rurusetto/users/templates/users/settings.html
  rurusetto/wiki/static/img/add-recommend-beatmap-cover-light.jpg
  rurusetto/wiki/static/img/add-recommend-beatmap-cover-night.png
  rurusetto/wiki/templates/wiki/home.html
  rurusetto/wiki/templates/wiki/listing.html
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/recommend_beatmap_approval.html
  rurusetto/wiki/templates/wiki/subpage.html
  rurusetto/wiki/templates/wiki/wiki_page.html
  rurusetto/wiki/views.py
Labels: size/L, type:ui-ux

#57 Remove opengraph image in some unrelated page
  rurusetto/users/views.py
  rurusetto/wiki/views.py
Labels: size/S, type:ui-ux

#58 Add support the creator to the wiki page
  rurusetto/users/forms.py
  rurusetto/users/migrations/0027_auto_20210909_0102.py
  rurusetto/users/migrations/0028_alter_profile_support_message.py
  rurusetto/users/models.py
  rurusetto/users/static/css/index.css
  rurusetto/users/templates/users/settings.html
  rurusetto/users/views.py
  rurusetto/wiki/static/css/wiki-page.css
  rurusetto/wiki/templates/wiki/wiki_page.html
  rurusetto/wiki/views.py
Labels: size/L, area:wiki, type:new-function

#59 Add beatmap demo player to the beatmap player card
  rurusetto/users/static/css/hover.css
  rurusetto/wiki/static/css/progres-bar.css
  rurusetto/wiki/static/js/player.js
  rurusetto/wiki/templates/wiki/base.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_card.html
Labels: size/L, area:recommend-beatmap, type:new-function

#60 Add Verified tooltip to the verified ruleset creator symbol
  rurusetto/wiki/templates/wiki/listing.html
  rurusetto/wiki/templates/wiki/wiki_page.html
  rurusetto/wiki/views.py
Labels: size/S, type:reliability, area:wiki, type:ui-ux

#61 Update minify JS
  rurusetto/wiki/static/js/custom.js
  rurusetto/wiki/static/js/custom.min.js
  rurusetto/wiki/templates/wiki/base.html
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/recommend_beatmap_approval.html
Labels: size/M, type:code-quality

#62 Update changelog styling
  rurusetto/wiki/templates/wiki/changelog.html
Labels: size/XS, type:ui-ux, area:changelog

#63 Add hide email setting to user profile setting
  rurusetto/users/forms.py
  rurusetto/users/migrations/0029_config_hide_email.py
  rurusetto/users/models.py
  rurusetto/users/templates/users/profile.html
  rurusetto/users/templates/users/settings.html
  rurusetto/users/views.py
Labels: size/M, area:profile, type:new-function

#64 Make `FileNotFoundError` handle more properly
  rurusetto/users/signals.py
Labels: size/S, area:database, type:reliability, area:backend

#65 Change administration page to jazzmin
  requirements.txt
  rurusetto/rurusetto/settings.py
  rurusetto/rurusetto/urls.py
Labels: size/L, area:adminintration, type:new-function

#66 Update link on admin page
  rurusetto/rurusetto/settings.py
Labels: size/XS, area:adminintration

#67 Fix beatmap card link incorrectly lead to fatal error
  rurusetto/wiki/function.py
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_card.html
Labels: priority: 0, size/S, area:recommend-beatmap, type:reliability

#69 Add load static file tag to recommend beatmap approval template
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
Labels: size/XS, area:recommend-beatmap

#70 Delete star rating from beatmap card
  rurusetto/wiki/templates/wiki/base.html
  rurusetto/wiki/templates/wiki/recommend_beatmap.html
  rurusetto/wiki/templates/wiki/recommend_beatmap_approval.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_approval_card.html
  rurusetto/wiki/templates/wiki/snippets/beatmap_card.html
  rurusetto/wiki/templates/wiki/snippets/star_rating_color.html
Labels: size/L, area:recommend-beatmap

#77 Add missing edit subpage cover image light mode cover
  rurusetto/wiki/static/img/edit-subpage-cover-light.jpg
Labels: size/XS, type:reliability, area:subpage

#78 Add download link for the ruleset that use GitHub as a source
  rurusetto/wiki/forms.py
  rurusetto/wiki/migrations/0039_ruleset_github_download_filename.py
  rurusetto/wiki/models.py
  rurusetto/wiki/templates/wiki/edit_ruleset_wiki.html
  rurusetto/wiki/templates/wiki/wiki_page.html
  rurusetto/wiki/views.py
Labels: size/M, type:new-function, area:status

#79 Emhance markdown converter
  rurusetto/wiki/templatetags/markdown_converter.py
Labels: size/XS, area:wiki

#80 Adjust CSS and change support box display requirement
  rurusetto/users/static/css/index.css
  rurusetto/wiki/views.py
Labels: size/S, area:wiki, area:user, type:ui-ux

#83 Seperate configuration value from settings
  requirements.txt
  rurusetto/rurusetto/settings.py
Labels: size/S, type:code-quality
